.chat-header {
    height: 7rem;
    padding: 2rem 5rem 2rem 2rem;
    box-shadow: 0 0 1rem #696969;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1200px) {
        justify-content: center;
    }

    i {
        cursor: pointer;
        font-size: 2rem;
        color: $white;

        @media (min-width: 1200px) {
            display: none;
        }
    }
    
    .title {
        font-size: 2.4rem;
        color: $white;
        font-weight: bold;
        text-transform: uppercase;
    }

}

.chat-container {
    position: relative;

    @media(min-width: 1200px){
        display: grid;
        grid-template-columns: 25% auto 25% ;
    }

    .chat {
        height: calc(100vh - 7rem);
        display: grid;
        grid-template-rows: 90% 10%;

        @include desktop {
            border-left: 1px solid #d6d6d6; 
            border-right: 1px solid #d6d6d6; 
        }

        #sendMsg {
            margin-bottom: 2rem;
    
            height: 5rem;
            padding: 0 2rem;
            display: flex;
            gap: 1rem;
    
    
            input {
                transition: .35s;
                outline: none;
                flex-grow: 1;
                padding: 0 2rem;
                font-size: 1.6rem;
                border-radius: 5rem;
                border: 1px solid #696969;
                box-shadow: 0 0 1rem #696969;
    
                &:focus {
                    box-shadow: 0 0 1rem $ligthViolet;
                    color: $ligthViolet;
                }
            }
    
            button {
                transition: .35s;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
    
                width: 4.5rem;
                height: 4.5rem;
                border: none;
                border-radius: 50%;
                font-size: 2rem;
                color: $white;
    
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .users {
        overflow: auto;

        @media (min-width: 1200px) {
            display: block;
        }

        height: calc(100vh - 7rem);

        h3 {
            padding-top: 1.5rem;
            color: #2d2f33;
            font-weight: bold;
            font-size: 2.5rem;
        }

        .user {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin: 2rem 0;
            padding: 0 3rem;
            font-size: 1.6rem;
            

            #crown {
                font-size: 2rem;
                color: gold;
            }

            #student {
                font-size: 2rem;
                color: $ligthViolet;
            }

            #status-online {
                font-size: 1rem;
                color: #4bcc10;
            }
        }

        .chat-active {
            transition: .35s;
            background: linear-gradient(90deg, $ligthViolet, $darkViolet);
            color: $white;
            margin: 2.5rem auto;
            width: 85%;
            padding: 1rem 2rem;
            border-radius: 1rem;
            box-shadow: 0 0 1rem #eee4e4;

            &:hover {
                transform: scale(1.05);
            }

            .materia {
                font-weight: bold;
                margin: .5rem 0;
            }
            
            p {
                font-size: 1.5rem;
            }

            a {
                display: block;
                width: 85%;
                margin: 1.5rem auto;
                padding: .5rem 0;
                font-size: 1.8rem;
                border-radius: 1rem;
                background: $white;

                i {
                    color: $ligthViolet;
                }
            }
        }

    }
}


