.materias-container-chat {
    padding: 2.5rem 2rem;
    margin-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
    color: $white;

    form {
       display: inline;
       margin: 0 auto;
       width: 100%;

       @include desktop {
        max-width: 35rem;
        margin: 0;
    }
    }

    @include desktop {
        margin-bottom: 0;
        padding: 3rem 5rem;
        min-height: 100vh;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 2rem;

    }



    .materia {
        position: relative;
        z-index: 9;
        padding: 2rem 0;
        width: 100%;
        margin: 1rem auto;
        border-radius: 1rem;
        max-width: 85%;
        max-height: 20rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        @include desktop {
            max-width: 35rem;
            margin: 0;
        }

        h3 {
            font-size: 2.2rem;
            margin: 1.5rem 0;
        }


        button {
            cursor: pointer;
            background-color: transparent;
            transition: .35s;
            text-align: center;
            color: $white;
            font-size: 1.6rem;
            border: 2px solid $white;
            width: 15rem;
            padding: .5rem 0;

            &:hover {
                transform: scale(1.1);
            }
        }
    
        .filter-violet {
            z-index: -1;
            border-radius: 1rem;
            position: absolute;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, #b1126fda, #531A5Dda);
        }

        .filter-darkviolet {
            z-index: -1;
            border-radius: 1rem;
            position: absolute;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, #b1126fce, #7e0a2dea);
        }
    }
}

.sky {
    background-image: url(/build/img/Chat/Sky.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wave {
    background-image: url(/build/img/Chat/Sky2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-grupo-chat {
    text-align: center;
    width: 85%;
    margin: 2rem auto;
}