<header class=" alumno-header">

    <a class="alumno-logo" href="/Alumno/index.php">
        <img src="/build/img/AURUM.svg" alt="">
    </a>

     <!-- Crear una consulta -->
    <abbr title="Crear una consulta">
        <a href="/Alumno/internal/create.php">
            <i class="far fa-edit"></i>
        </a>
    </abbr>

    <!--   <i class="fas fa-user-friends"></i> -->

    <!-- Chat -->
    <abbr title="Chat">
        <a href="/Chat/ChatAlumno/">
            <i class="far fa-comments"></i>
        </a>
    </abbr>

    <!-- Perfil -->
    <abbr title="Perfil">
        <a href="/Alumno/internal/perfil.php">
            <i class="far fa-user"></i>
        </a>
    </abbr>

    <!-- Configuracion -->
   <!--  <abbr title="Configuración">
        <i class="fas fa-cog"></i>
    </abbr> -->

     <!-- Cerrar sesión -->
     <abbr title="Cerrar sesión">
        <a href="/Alumno/logout.php">
            <i class="fas fa-sign-out-alt"></i>
        </a>
     </abbr>
    
</header>