/** Media Queries **/
@mixin phone {
    @media (min-width: $telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin flexColumn ($gap) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}


@mixin flex ($gap) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}