.datos-compas {

    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);



    span {
      display: inline-block;
      margin: 1.5rem 0 1rem 0;
      padding: .5rem 2rem;
      color: $white;
      font-size: 1.5rem;
      border-radius: 1rem;
    }


    img {
        height: 50px;
    }
    

}
