.consultas-admin {
    margin: 3rem 3rem;
    display: flex;
    gap: 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        margin-bottom: 2rem;
    }

    .consulta-data {
        width: 100%;

        @include tablet {
            width: 85%;
        }

        @include desktop {
            width: 75%;
        }
    }
}