.notification {
    cursor: pointer;
    position: relative;

    &__icon {
        position: absolute;
        right: -1rem;
        top: -.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        color: $white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(219, 17, 17);
        font-size: 1.2rem;

        transition: .45s;
        visibility: visible;
    }
}
