.asignatura {
    padding: 5rem 2rem 1.5rem 2rem;
    text-align: center;

    @include tablet {
        width: 60%;
        margin: auto;
    }
}


.buttons-container {
    margin: 1.5rem auto;
    padding: 1rem 0;
    @include tablet {
        width: 85%;
    }

    @include desktop {
        width: 50%;
    }
}

.container-crud {
    width: 90%;
    margin: auto;
    padding: 1rem 2rem 4rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem #c829e4;

    @include tablet {
        width: 50%;
    }


    @include desktop {
        width: 40%;
    }
}