<header class=" alumno-header">

    <a class="alumno-logo" href="/AppDocente/index.php">
        <img src="/build/img/AURUM.svg" alt="">
        <p>Inicio</p>
    </a>



    <!-- Crear una consulta -->
    <a  class="alumno-logo" href="/AppAlumno/internal/create.php">
        <i class="far fa-edit"></i>
        <p>Consulta</p>
    </a>

    <!-- Chat -->
    <a class="alumno-logo" href="/AppChat/Docente">
        <i class="far fa-comments"></i>
        <p>Chat</p>
    </a>



    <!-- Perfil -->
    <a class="alumno-logo" href="/AppDocente/internal/perfil.php">
        <i class="far fa-user"></i>
        <p>Perfil</p>
    </a>


    <!-- Configuracion -->
    <!--    <abbr title="Configuración">
        <i class="fas fa-cog"></i>
    </abbr> -->


    <a class="alumno-logo" href="/AppDocente/logout.php">
        <i class="fas fa-sign-out-alt"></i>
        <p>Salir</p>
    </a>

</header>