<header class=" alumno-header">

    <a class="alumno-logo" href="/Docente/index.php">
        <img src="/build/img/AURUM.svg" alt="">
    </a>

    <!-- <i class="fas fa-user-friends"></i> -->

    <!-- Chat -->
    <abbr title="Chat">
        <i class="far fa-comments"></i>
    </abbr>

    <!-- Perfil -->
    <abbr title="Perfil">
       <a href="/Docente/internal/perfil.php">
         <i class="far fa-user"></i>
       </a>
    </abbr>

    <!-- Configuracion -->
 <!--    <abbr title="Configuración">
        <i class="fas fa-cog"></i>
    </abbr> -->


    <abbr title="Cerrar sesión">
        <a href="/Docente/logout.php">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </abbr>

</header>